{% extends 'panel.html' %}
{% load static %}
{% load my_form_tag %} 

{% block panel %}

<form action='.' method='POST' enctype="multipart/form-data">{% csrf_token %}
    {{form.non_field_errors}}
        
        <div class="center-create">
            <label for="">User Login</label>
            {{form.username}}
            {{form.username.errors}}
        </div>
        <div class="center-create">
        <label for="">Hasło</label>
            {{form.password.errors}}
            {{form.password}}
            
            <a class="btn btn-sm btn-primary " style="margin-top:3px"href="{% url 'password_reset'  %}">Reset Hasła</a>
        </div>
        <div class="center-create">
        <label for="">Imię Nazwisko</label>
            {{form.full_name}}
            {{form.full_name.errors}}
        </div>
        <div class="center-create">
        <label for="">Email</label>
            {{form.email}}
            {{form.email.errors}}
        </div>
        <div class="center-create">
        <label for="">Jest Administratorem</label>
            {{form.is_admin}}
        </div>
        <div class="center-create">
        <label for="">dostęp do Administratora</label>
            {{form.is_staff}}
        </div>
        <div class="center-create">
        <label for="">Jest Aktywny</label>
            {{form.is_active}}
        </div>
        <div class="center-create">
        <label for="">Pełen Dostęp</label>
            {{form.is_superuser}}
        </div>
        {% if form.instance.image %}
            <div class="center-create">
            <label for="">Usuń zdjęcie</label>
                <input type="checkbox" name="image-clear" id="image-clear_id">
            </div>
        {% endif %}
        
        {{form.image.errors}}
        <div class="input-group">
            {% if form.instance.image %}
                <img id="blah" class="imagefile" src={{form.instance.image.url}}  width="100" height="100" style="margin-left: 8%" /> 
                <label class="picture" for="id_image">Wybież zdjęcie</label>
            {% else %}
                <img id="blah" class="imagefile"   width="100" height="100" style="margin-left: 8%" /> 
                <label class="picture" for="id_image" style="margin-left: 8%">Wybież zdjęcie</label>
            {% endif %}
            <input type="file" name="image" accept="image/*" id="id_image" style="margin-left: 8%" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
            
        </div>
      
        <div class ="text-center" >
            <p><input  class="btn btn-sm btn-primary " type='submit' value='Yes' />  <a href="{% url 'ListaUserView' user.username %}">Cancel</a></p>
        </div>
</form>

{% endblock panel %}
{% block java %}

<script>
    const imagefile = document.querySelector(".imagefile");
    const inpFile = document.getElementById("id_image")
    const picture = document.querySelector(".picture");
    
    inpFile.addEventListener("change",function(){  
    
    imagefile.style.display = "block";
    picture.style.margin = " 20px 5% 20px 5% "
    
    })
    const error =document.querySelector(".errorlist");
    if(error != null){
        error.style.marginLeft = "8%"
    }
    
 
</script>

{% endblock java %}