{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <div id="login-background">
    <img src={% static 'img/library.jpg' %} alt="Login Full Background" class="full-bg animation-pulseSlow">
    </div>
    <div id="register-container" class="animation-fadeIn">
        <!-- Login Title -->
        <div class="login-title text-center">
            <h1> Zarejestruj się</h1>
        </div>
        <div class="block push-bit">
            <form method="POST" action='.' id="form-login" class="form-horizontal form-bordered form-control-borderless" >
                {% csrf_token %}
                <div class="container" style="margin-left: 2%;margin-top: 3%">
                    {{form.non_field_errors}}
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                            {{form.email}}
                            {{form.email.errors}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="gi gi-pencil"></i></span>
                            {{form.username}}
                            {{form.username.errors}}
                        </div>
                    </div>
                </div>

				<div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="gi gi-user"></i></span>
                            {{form.full_name}}
                            {{form.full_name.errors}}
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="gi gi-lock"></i></span>
                            {{form.password1}}
                            {{form.password1.errors}}
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="gi gi-lock"></i></span>
                            {{form.password2}}
                            {{form.password2.errors}}
                        </div>
                    </div>
                </div>
                 <div class="form-group form-actions">

                        <div class="col-xs-12 text-center">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Zarejestruj się</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 text-center">
                            <a href={% url 'formularz' %} >Formularz</a>
                        </div>
                    </div>
            </form>
        </div>
        <div>
            <footer class="text-muted text-center">
                <small><span id="year-copy">2020-05</span> © <a href="" target="_blank">SIMPLY Edyta Strzelczyk</a></small>
            </footer>
        </div>
    </div>
{% endblock %}